<ul>
	<li><%= link_to "Amount", :controller => "statistics", :action => "index", :query => "all" %> </li>
	<li><%= link_to "Last 30 days", :controller => "statistics", :action =>"index", :query => "month" %> </li>
	<li><%= link_to "Logout", :controller => "users", :action => "logout" %> </li>
</ul>
</br>
<h1><%= @header_title %> </h1>
<% if @statistics.count > 0 %>
<table>
	<tr>
		<th>Date &nbsp;&nbsp;&nbsp</th>
		<th>Source</th>
		<th>Count</th>
	</th>
	<% @statistics.each do |s| %>
  	<tr>
  		<td><%= s.date %></td>
  		<td><%= s.source %></td>
  		<td><%= s.count %></td>
  	</tr>
 	<% end %>
 </table>
 <% else %>
 	<p>Statistic is empty </p>
 <% end %>
<p class="stat">Total number of installations: <%= @installations.count %> </p>
<p class="stat">Total number of translated URL: <%= @translate_count %> </p>