<!DOCTYPE html>
<html>
<head>
  <title>Statistic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
  		<div class="container-fluid">
  			<% if is_auth? %>
  				<ul class="nav navbar-nav">
  					<li><%= link_to "Companies", :controller => "companies", :action => "index" %></li>
  					<li><%= link_to "Affiliates", :controller => "affiliates", :action => "index" %></li>
  					<li><%= link_to "Statistic", :controller => "statistics", :action => "index" %></li>
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li><%= link_to "Log out", :controller=> "users", :action => "logout" %></li>
  				</ul>
  			<% end %>

  		</div>
  </div>
  <div class="container-fluid">
		<%= yield %>
  </div>
</body>
</html>
